.header-link {
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.header-link:visited {
  color: black;
}

.header-link:hover {
  color: var(--accent-color);
  color: var(--accent-color-light);
}

#header-link-active {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-position: under;
}

#header-link-active:hover {
  color: var(--accent-color-light);
}
